ui_template_swg.json
[
    {
        "id": "06768cfc0c3d5a63",
        "type": "inject",
        "z": "d6997a32d91465f1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 170,
        "y": 105,
        "wires": [
            [
                "c21844e7f309d06d"
            ]
        ]
    },
    {
        "id": "63f247db228d60ca",
        "type": "debug",
        "z": "d6997a32d91465f1",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 95,
        "wires": []
    },
    {
        "id": "c21844e7f309d06d",
        "type": "ui_template",
        "z": "d6997a32d91465f1",
        "group": "fec1dadc23caa4f4",
        "name": "",
        "order": 7,
        "width": "3",
        "height": "3",
        "format": "<script>\n(function(scope) {\n\n  scope.$watch('msg', function(msg) {\n\n    if (msg) {\n        // id=\"{{'status_'+$id}}\" \n        const val = msg.payload;\n        if (val == \"ON\") {\n        document.getElementById('status_'+scope.$id).style.setProperty('background-color', '#ff0000');\n        document.getElementById('status_'+scope.$id).style.setProperty('fill', '#ff0000');\n        document.getElementById('status_m'+scope.$id).style.setProperty('background-color', '#ff0000');\n        document.getElementById('status_m'+scope.$id).style.setProperty('fill', '#ff0000');        \n        };\n        if (val == \"OFF\") {\n        document.getElementById('status_'+scope.$id).style.setProperty('background-color', '#565656');\n        document.getElementById('status_'+scope.$id).style.setProperty('fill', '#565656');\n        document.getElementById('status_m'+scope.$id).style.setProperty('background-color', '#565656');\n        document.getElementById('status_m'+scope.$id).style.setProperty('fill', '#565656');        \n        };        \n    }\n  });\n})(scope);\n</script>\n\n\n\n\n\n<div  id=\"{{'button'+$id}}\"  ng-click=\"send({topic: 'Button01', payload: 'TOGGLE'})\">\n<svg  id=\"{{'button1'+$id}}\"  xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" contentScriptType=\"text/ecmascript\" contentStyleType=\"text/css\" version=\"1.0\"  viewBox=\"0 0 135 135\" >\n <defs id=\"defs4\">\n  <linearGradient id=\"linearGradient3234\" xlink:actuate=\"onLoad\" xlink:show=\"other\" xlink:type=\"simple\">\n   <stop id=\"stop3236\" style=\"stop-color:#c7c7c7;stop-opacity:.65\" offset=\"0\"/>\n   <stop id=\"stop3238\" style=\"stop-color:#ffffff;stop-opacity:0\" offset=\"1\"/>\n  </linearGradient>\n  <linearGradient id=\"linearGradient3215\" xlink:actuate=\"onLoad\" xlink:show=\"other\" xlink:type=\"simple\">\n   <stop id=\"stop3217\" style=\"stop-color:#1a1a1a;stop-opacity:.69\" offset=\"0\"/>\n   <stop id=\"stop3219\" style=\"stop-color:#1a1a1a;stop-opacity:0\" offset=\"1\"/>\n  </linearGradient>\n  <filter id=\"filter3829\" x=\"-.24\" y=\"-.25\" width=\"1.5\" height=\"1.5\" xlink:actuate=\"onLoad\" xlink:show=\"other\" xlink:type=\"simple\">\n   <feGaussianBlur id=\"feGaussianBlur3831\" stdDeviation=\"5.0271793\"/>\n  </filter>\n  <radialGradient id=\"radialGradient2238\" cx=\"345\" cy=\"398\" r=\"67\" gradientTransform=\"matrix(.99 .96 -1.1 1.1 419 -362)\" gradientUnits=\"userSpaceOnUse\" xlink:actuate=\"onLoad\" xlink:href=\"#linearGradient3215\" xlink:show=\"other\" xlink:type=\"simple\"/>\n  <radialGradient id=\"radialGradient2240\" cx=\"349\" cy=\"505\" r=\"67\" gradientTransform=\"matrix(.5 .5 -1.1 1.1 594 -197)\" gradientUnits=\"userSpaceOnUse\" xlink:actuate=\"onLoad\" xlink:href=\"#linearGradient3234\" xlink:show=\"other\" xlink:type=\"simple\"/>\n  <linearGradient id=\"linearGradient2242\" x1=\"228\" x2=\"365\" y1=\"521\" y2=\"415\" gradientUnits=\"userSpaceOnUse\" xlink:actuate=\"onLoad\" xlink:show=\"other\" xlink:type=\"simple\">\n   <stop id=\"stop3205\" style=\"stop-color:#f9f9f9;stop-opacity:.53\" offset=\"0\"/>\n   <stop id=\"stop3207\" style=\"stop-color:#737373;stop-opacity:.45\" offset=\"1\"/>\n  </linearGradient>\n  <radialGradient id=\"radialGradient2244\" cx=\"311\" cy=\"388\" r=\"68\" gradientTransform=\"matrix(1.8 0 0 1.8 -263 -328)\" gradientUnits=\"userSpaceOnUse\" xlink:actuate=\"onLoad\" xlink:href=\"#linearGradient3234\" xlink:show=\"other\" xlink:type=\"simple\"/>\n  <radialGradient id=\"radialGradient2246\" cx=\"309\" cy=\"465\" r=\"68\" gradientTransform=\"matrix(1.8 0 0 1.8 -263 -328)\" gradientUnits=\"userSpaceOnUse\" xlink:actuate=\"onLoad\" xlink:href=\"#linearGradient3215\" xlink:show=\"other\" xlink:type=\"simple\"/>\n </defs>\n <g id=\"layer4\" transform=\"translate(-202 -385)\">\n  <g id=\"g2217\" transform=\"translate(-214 2.2)\">\n   <circle id=\"path3301\" transform=\"translate(177 4.7)\" cx=\"307\" cy=\"446\" r=\"65\" style=\"fill-opacity:.14;fill:#f2f2f2;opacity:.99\"/>\n   <circle id=\"path3303\" transform=\"translate(177 4.7)\" cx=\"307\" cy=\"446\" r=\"65\" style=\"fill:url(#radialGradient2238);opacity:.99\"/>\n   <circle id=\"path3305\" transform=\"translate(177 4.7)\" cx=\"307\" cy=\"446\" r=\"65\" style=\"fill:url(#radialGradient2240);opacity:.99;stroke-linejoin:round;stroke-opacity:.53;stroke:url(#linearGradient2242)\"/>\n   <circle id=\"path3307\" transform=\"matrix(.75 0 0 .75 253 116)\" cx=\"307\" cy=\"446\" r=\"65\" style=\"fill:url(#radialGradient2244);opacity:.99;stroke-linejoin:round;stroke-width:2.7;stroke:#000000\"/>\n   <circle id=\"path3309\" transform=\"matrix(.75 0 0 .75 253 116)\" cx=\"307\" cy=\"446\" r=\"65\" style=\"fill:url(#radialGradient2246);opacity:.99\"/>\n   <path id=\"path3311\" d=\"m467 433c-1.2 0.022-2.3 0.56-3 1.5-7.8 9.3-7.8 23 0 32 8.9 11 25 12 35 3.1 11-8.9 12-25 3.1-35-0.89-1.2-2.4-1.8-3.8-1.5-1.5 0.23-2.7 1.3-3.2 2.7s-0.15 3 0.86 4c6.1 7.2 5.1 18-2.1 24-7.2 6.1-18 5.1-24-2.1-5.4-6.5-5.4-15 0-22 1-1.2 1.3-2.9 0.59-4.3-0.67-1.4-2.1-2.3-3.7-2.3zm16-6.6c-1.1 8e-3 -2.1 0.44-2.8 1.2s-1.2 1.8-1.1 2.9v26c-0.02 1.4 0.74 2.8 2 3.5 1.2 0.73 2.8 0.73 4 0 1.2-0.73 2-2.1 2-3.5v-26c0.017-1.1-0.4-2.1-1.2-2.9-0.76-0.76-1.8-1.2-2.9-1.2z\" style=\"fill:#ffffff;opacity:.99\"/>\n   <path id=\"{{'status_'+$id}}\" d=\"m467 433c-1.2 0.022-2.3 0.56-3 1.5-7.8 9.3-7.8 23 0 32 8.9 11 25 12 35 3.1 11-8.9 12-25 3.1-35-0.89-1.2-2.4-1.8-3.8-1.5-1.5 0.23-2.7 1.3-3.2 2.7s-0.15 3 0.86 4c6.1 7.2 5.1 18-2.1 24-7.2 6.1-18 5.1-24-2.1-5.4-6.5-5.4-15 0-22 1-1.2 1.3-2.9 0.59-4.3-0.67-1.4-2.1-2.3-3.7-2.3zm16-6.6c-1.1 8e-3 -2.1 0.44-2.8 1.2s-1.2 1.8-1.1 2.9v26c-0.02 1.4 0.74 2.8 2 3.5 1.2 0.73 2.8 0.73 4 0 1.2-0.73 2-2.1 2-3.5v-26c0.017-1.1-0.4-2.1-1.2-2.9-0.76-0.76-1.8-1.2-2.9-1.2z\" style=\"background-color:#ff0000;fill:#ff0000;opacity:.99\"/>\n   <path id=\"{{'status_m'+$id}}\" d=\"m467 433c-1.2 0.022-2.3 0.56-3 1.5-7.8 9.3-7.8 23 0 32 8.9 11 25 12 35 3.1 11-8.9 12-25 3.1-35-0.89-1.2-2.4-1.8-3.8-1.5-1.5 0.23-2.7 1.3-3.2 2.7s-0.15 3 0.86 4c6.1 7.2 5.1 18-2.1 24-7.2 6.1-18 5.1-24-2.1-5.4-6.5-5.4-15 0-22 1-1.2 1.3-2.9 0.59-4.3-0.67-1.4-2.1-2.3-3.7-2.3zm16-6.6c-1.1 8e-3 -2.1 0.44-2.8 1.2s-1.2 1.8-1.1 2.9v26c-0.02 1.4 0.74 2.8 2 3.5 1.2 0.73 2.8 0.73 4 0 1.2-0.73 2-2.1 2-3.5v-26c0.017-1.1-0.4-2.1-1.2-2.9-0.76-0.76-1.8-1.2-2.9-1.2z\" style=\"background-color:#ff0000;fill:#ff0000;filter:url(#filter3829);opacity:.99\"/>\n  </g>\n </g>\n</svg>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 325,
        "y": 135,
        "wires": [
            [
                "63f247db228d60ca",
                "3445deacebd94e88"
            ]
        ]
    },
    {
        "id": "94200390d1d2cfb8",
        "type": "inject",
        "z": "d6997a32d91465f1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 170,
        "y": 135,
        "wires": [
            [
                "c21844e7f309d06d"
            ]
        ]
    },
    {
        "id": "3445deacebd94e88",
        "type": "function",
        "z": "d6997a32d91465f1",
        "name": "function 6",
        "func": "\nif (msg.payload == \"TOGGLE\") {\n\n\nif (global.get (\"Button_status\") == \"ON\") {\n    global.set (\"Button_status\", \"OFF\");\n    msg.payload = \"OFF\"\n} else {\n    global.set (\"Button_status\", \"ON\");\n    msg.payload = \"ON\"\n}\n\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 135,
        "wires": [
            [
                "c21844e7f309d06d",
                "6ec4d7c608de7f70"
            ]
        ]
    },
    {
        "id": "6ec4d7c608de7f70",
        "type": "debug",
        "z": "d6997a32d91465f1",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 135,
        "wires": []
    },
    {
        "id": "bb3d41095a225150",
        "type": "ui_template",
        "z": "d6997a32d91465f1",
        "group": "fec1dadc23caa4f4",
        "name": "",
        "order": 7,
        "width": "3",
        "height": "3",
        "format": "<script>\n(function(scope) {\n\n  scope.$watch('msg', function(msg) {\n\n    if (msg) {\n        // id=\"{{'status_'+$id}}\" \n        const val = msg.payload;\n        if (val == \"ON\") {\n        document.getElementById('status_'+scope.$id).style.setProperty('background-color', '#ff0000');\n        document.getElementById('status_'+scope.$id).style.setProperty('fill', '#ff0000');\n        document.getElementById('status_p'+scope.$id).style.setProperty('background-color', '#ff0000');\n        document.getElementById('status_p'+scope.$id).style.setProperty('fill', '#ff0000');        \n        };\n        if (val == \"OFF\") {\n        document.getElementById('status_'+scope.$id).style.setProperty('background-color', '#565656');\n        document.getElementById('status_'+scope.$id).style.setProperty('fill', '#565656');\n        document.getElementById('status_p'+scope.$id).style.setProperty('background-color', '#565656');\n        document.getElementById('status_p'+scope.$id).style.setProperty('fill', '#565656');        \n        };        \n    }\n  });\n})(scope);\n</script>\n\n\n\n\n\n<div  id=\"{{'button'+$id}}\"  ng-click=\"send({topic: 'Button01', payload: 'TOGGLE'})\">\n<svg id=\"{{'button1'+$id}}\" contentScriptType=\"text/ecmascript\" contentStyleType=\"text/css\" version=\"1.0\" viewBox=\"0 0 135 135\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" zoomAndPan=\"magnify\">\n <defs id=\"defs4\">\n  <linearGradient id=\"linearGradient3234\" xlink:actuate=\"onLoad\" xlink:show=\"other\" xlink:type=\"simple\">\n   <stop id=\"stop3236\" style=\"stop-color:#c7c7c7;stop-opacity:.65\" offset=\"0\"/>\n   <stop id=\"stop3238\" style=\"stop-color:#ffffff;stop-opacity:0\" offset=\"1\"/>\n  </linearGradient>\n  <linearGradient id=\"linearGradient3215\" xlink:actuate=\"onLoad\" xlink:show=\"other\" xlink:type=\"simple\">\n   <stop id=\"stop3217\" style=\"stop-color:#1a1a1a;stop-opacity:.69\" offset=\"0\"/>\n   <stop id=\"stop3219\" style=\"stop-color:#1a1a1a;stop-opacity:0\" offset=\"1\"/>\n  </linearGradient>\n  <filter id=\"filter3829\" x=\"-.24\" y=\"-.25\" width=\"1.5\" height=\"1.5\" xlink:actuate=\"onLoad\" xlink:show=\"other\" xlink:type=\"simple\">\n   <feGaussianBlur id=\"feGaussianBlur3831\" stdDeviation=\"5.0271793\"/>\n  </filter>\n  <radialGradient id=\"radialGradient2238\" cx=\"345\" cy=\"398\" r=\"67\" gradientTransform=\"matrix(.99 .96 -1.1 1.1 419 -362)\" gradientUnits=\"userSpaceOnUse\" xlink:actuate=\"onLoad\" xlink:href=\"#linearGradient3215\" xlink:show=\"other\" xlink:type=\"simple\"/>\n  <radialGradient id=\"radialGradient2240\" cx=\"349\" cy=\"505\" r=\"67\" gradientTransform=\"matrix(.5 .5 -1.1 1.1 594 -197)\" gradientUnits=\"userSpaceOnUse\" xlink:actuate=\"onLoad\" xlink:href=\"#linearGradient3234\" xlink:show=\"other\" xlink:type=\"simple\"/>\n  <linearGradient id=\"linearGradient2242\" x1=\"228\" x2=\"365\" y1=\"521\" y2=\"415\" gradientUnits=\"userSpaceOnUse\" xlink:actuate=\"onLoad\" xlink:show=\"other\" xlink:type=\"simple\">\n   <stop id=\"stop3205\" style=\"stop-color:#f9f9f9;stop-opacity:.53\" offset=\"0\"/>\n   <stop id=\"stop3207\" style=\"stop-color:#737373;stop-opacity:.45\" offset=\"1\"/>\n  </linearGradient>\n  <radialGradient id=\"radialGradient2244\" cx=\"311\" cy=\"388\" r=\"68\" gradientTransform=\"matrix(1.8 0 0 1.8 -263 -328)\" gradientUnits=\"userSpaceOnUse\" xlink:actuate=\"onLoad\" xlink:href=\"#linearGradient3234\" xlink:show=\"other\" xlink:type=\"simple\"/>\n  <radialGradient id=\"radialGradient2246\" cx=\"309\" cy=\"465\" r=\"68\" gradientTransform=\"matrix(1.8 0 0 1.8 -263 -328)\" gradientUnits=\"userSpaceOnUse\" xlink:actuate=\"onLoad\" xlink:href=\"#linearGradient3215\" xlink:show=\"other\" xlink:type=\"simple\"/>\n </defs>\n <g id=\"layer4\" transform=\"translate(-202 -385)\">\n  <g id=\"g2217\" transform=\"translate(-214 2.2)\">\n   <circle id=\"path3301\" transform=\"translate(177 4.7)\" cx=\"307\" cy=\"446\" r=\"65\" style=\"fill-opacity:.14;fill:#f2f2f2;opacity:.99\"/>\n   <circle id=\"path3303\" transform=\"translate(177 4.7)\" cx=\"307\" cy=\"446\" r=\"65\" style=\"fill:url(#radialGradient2238);opacity:.99\"/>\n   <circle id=\"path3305\" transform=\"translate(177 4.7)\" cx=\"307\" cy=\"446\" r=\"65\" style=\"fill:url(#radialGradient2240);opacity:.99;stroke-linejoin:round;stroke-opacity:.53;stroke:url(#linearGradient2242)\"/>\n   <circle id=\"path3307\" transform=\"matrix(.75 0 0 .75 253 116)\" cx=\"307\" cy=\"446\" r=\"65\" style=\"fill:url(#radialGradient2244);opacity:.99;stroke-linejoin:round;stroke-width:2.7;stroke:#000000\"/>\n   <circle id=\"path3309\" transform=\"matrix(.75 0 0 .75 253 116)\" cx=\"307\" cy=\"446\" r=\"65\" style=\"fill:url(#radialGradient2246);opacity:.99\"/>\n   <path id=\"path3311\" d=\"m467 433c-1.2 0.022-2.3 0.56-3 1.5-7.8 9.3-7.8 23 0 32 8.9 11 25 12 35 3.1 11-8.9 12-25 3.1-35-0.89-1.2-2.4-1.8-3.8-1.5-1.5 0.23-2.7 1.3-3.2 2.7s-0.15 3 0.86 4c6.1 7.2 5.1 18-2.1 24-7.2 6.1-18 5.1-24-2.1-5.4-6.5-5.4-15 0-22 1-1.2 1.3-2.9 0.59-4.3-0.67-1.4-2.1-2.3-3.7-2.3zm16-6.6c-1.1 8e-3 -2.1 0.44-2.8 1.2s-1.2 1.8-1.1 2.9v26c-0.02 1.4 0.74 2.8 2 3.5 1.2 0.73 2.8 0.73 4 0 1.2-0.73 2-2.1 2-3.5v-26c0.017-1.1-0.4-2.1-1.2-2.9-0.76-0.76-1.8-1.2-2.9-1.2z\" style=\"fill:#ffffff;opacity:.99\"/>\n   <path id=\"{{'status_'+$id}}\"  d=\"m467 433c-1.2 0.022-2.3 0.56-3 1.5-7.8 9.3-7.8 23 0 32 8.9 11 25 12 35 3.1 11-8.9 12-25 3.1-35-0.89-1.2-2.4-1.8-3.8-1.5-1.5 0.23-2.7 1.3-3.2 2.7s-0.15 3 0.86 4c6.1 7.2 5.1 18-2.1 24-7.2 6.1-18 5.1-24-2.1-5.4-6.5-5.4-15 0-22 1-1.2 1.3-2.9 0.59-4.3-0.67-1.4-2.1-2.3-3.7-2.3zm16-6.6c-1.1 8e-3 -2.1 0.44-2.8 1.2s-1.2 1.8-1.1 2.9v26c-0.02 1.4 0.74 2.8 2 3.5 1.2 0.73 2.8 0.73 4 0 1.2-0.73 2-2.1 2-3.5v-26c0.017-1.1-0.4-2.1-1.2-2.9-0.76-0.76-1.8-1.2-2.9-1.2z\" style=\"fill:#ff0000;background-color:#ff0000;opacity:.99\"/>\n   <path id=\"{{'status_p'+$id}}\"  d=\"m467 433c-1.2 0.022-2.3 0.56-3 1.5-7.8 9.3-7.8 23 0 32 8.9 11 25 12 35 3.1 11-8.9 12-25 3.1-35-0.89-1.2-2.4-1.8-3.8-1.5-1.5 0.23-2.7 1.3-3.2 2.7s-0.15 3 0.86 4c6.1 7.2 5.1 18-2.1 24-7.2 6.1-18 5.1-24-2.1-5.4-6.5-5.4-15 0-22 1-1.2 1.3-2.9 0.59-4.3-0.67-1.4-2.1-2.3-3.7-2.3zm16-6.6c-1.1 8e-3 -2.1 0.44-2.8 1.2s-1.2 1.8-1.1 2.9v26c-0.02 1.4 0.74 2.8 2 3.5 1.2 0.73 2.8 0.73 4 0 1.2-0.73 2-2.1 2-3.5v-26c0.017-1.1-0.4-2.1-1.2-2.9-0.76-0.76-1.8-1.2-2.9-1.2z\" style=\"fill:#ff0000;background-color:#ff0000;filter:url(#filter3829);opacity:.99\"/>\n  </g>\n </g>\n</svg>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 325,
        "y": 235,
        "wires": [
            [
                "dc315c05485f7d4c"
            ]
        ]
    },
    {
        "id": "dc315c05485f7d4c",
        "type": "function",
        "z": "d6997a32d91465f1",
        "name": "function 7",
        "func": "\nif (msg.payload == \"TOGGLE\") {\n\n\nif (global.get (\"Button_status2\") == \"ON\") {\n    global.set (\"Button_status2\", \"OFF\");\n    msg.payload = \"OFF\"\n} else {\n    global.set (\"Button_status2\", \"ON\");\n    msg.payload = \"ON\"\n}\n\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 235,
        "wires": [
            [
                "bb3d41095a225150"
            ]
        ]
    },
    {
        "id": "ebfb7a7a43b4bdf1",
        "type": "inject",
        "z": "d6997a32d91465f1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 155,
        "y": 220,
        "wires": [
            [
                "bb3d41095a225150"
            ]
        ]
    },
    {
        "id": "e1ca4c95fa18ebfb",
        "type": "inject",
        "z": "d6997a32d91465f1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 155,
        "y": 250,
        "wires": [
            [
                "bb3d41095a225150"
            ]
        ]
    },
    {
        "id": "fec1dadc23caa4f4",
        "type": "ui_group",
        "name": "swg_button",
        "tab": "7471c7e5ac36c878",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7471c7e5ac36c878",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]